@import 'mixins';

@import 'modules/animate';
@import 'modules/shape';
@import 'modules/endpoints';

.l-max_width {
  max-width: 960px;
}

.l-center_text {
  text-align: center;
}

.l-center_block {
  margin-left: auto;
  margin-right: auto;
}
