// My variables
$color01: #009587; // green
$color02: #36464e; // dark text
$color03: #ccc; // light text
$color04: #f4f4f4; // gray bg color
$color05: #fff; // white
$color06: hsl(0, 100%, 75%); // red

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed|Fjalla+One);
$font01: 'Roboto Condensed', sans-serif;
$font02: 'Fjalla One', sans-serif;
$font-weight-1: 400;
$font-size-1: 20px;
$font-size-2: 16px;

// Import mixins and modules
@import 'mixins';

@import 'modules/animate';
@import 'modules/shape';
@import 'modules/endpoints';
@import 'modules/topbar';
@import 'modules/btn';
@import 'modules/pingbar';

// use border-box
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $color02;
  font-family: $font01;
  background-color: $color04;
}

// general layout styles
.l-max_width {
  max-width: 960px;
}

.l-center_text {
  text-align: center;
}

.l-center_block {
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: $color01;

  &:hover, &:active {
    text-decoration: underline;
  }
}

// Title
.title {
  margin-bottom: 0;

  font-family: $font02;
  font-weight: $font-weight-1;
  text-align: center;
  color: $color02;
}

.subtitle {
  margin-top: 0;

  text-align: center;
  color: $color02;
}
