@import 'mixins';

@import 'modules/animate';
@import 'modules/shape';
@import 'modules/endpoints';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// general layout styles
.l-max_width {
  max-width: 960px;
}

.l-center_text {
  text-align: center;
}

.l-center_block {
  margin-left: auto;
  margin-right: auto;
}
