// Endpoints style

.endpoints {
  @include flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.endpoints-widget {
  width: 300px;
  height: 300px;
  padding: 0 15px;
  border: 3px dashed $color04;
  margin: 10px 0;

  text-align: center;
}

.endpoints-widget-title {
}
