// Endpoints style

.endpoints {
  @include flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.endpoints-widget {
  width: 300px;
  height: 300px;
  padding: 0 15px;
  border: 0;
  margin: 10px 0;
  @include box-shadow(1px 1px 2px 1px $color03);

  background-color: $color05;
}

.endpoints-widget-title {
  display: block;
  margin-bottom: 15px;
}
