.shape-container {
  @include flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.shape {
  height: 50%;
  width: 50%;

  @include border-radius(50%);
  background-color: red;
  @include transition(all 0.5s ease);
}
